@font-face {font-family: 'iconfont';  src:  url('fonts/iconfont.eot?lz7l35');
  src:  url('fonts/iconfont.eot?lz7l35#iefix') format('embedded-opentype'),
    url('fonts/iconfont.ttf?lz7l35') format('truetype'),
    url('fonts/iconfont.woff?lz7l35') format('woff'),
    url('fonts/iconfont.svg?lz7l35#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {content: "\e700";}
.icon-edit:before {content: "\e701";}
.icon-edit-line:before {content: "\e702";}
.icon-writing:before {content: "\e703";}
.icon-404:before {content: "\e704";}
.icon-ads:before {content: "\e705";}
.icon-copyright:before {content: "\e706";}
.icon-exclamation:before {content: "\e707";}
.icon-faq:before {content: "\e708";}
.icon-at:before {content: "\e709";}
.icon-new-features:before {content: "\e710";}
.icon-check-file:before {content: "\e711";}
.icon-clipboard:before {content: "\e712";}
.icon-book:before {content: "\e713";}
.icon-tree:before {content: "\e714";}
.icon-folder:before {content: "\e715";}
.icon-open-folder:before {content: "\e716";}
.icon-guard:before {content: "\e717";}
.icon-repair:before {content: "\e718";}
.icon-link:before {content: "\e719";}
.icon-share-link:before {content: "\e71a";}
.icon-flowerpot:before {content: "\e71b";}
.icon-flower:before {content: "\e71c";}
.icon-circle:before {content: "\e720";}
.icon-circle-check:before {content: "\e721";}
.icon-circle-slash:before {content: "\e722";}
.icon-turn-off:before {content: "\e723";}
.icon-key:before {content: "\e724";}
.icon-speaker:before {content: "\e725";}
.icon-gear:before {content: "\e726";}
.icon-clock:before {content: "\e727";}
.icon-bookmark:before {content: "\e728";}
.icon-monitor:before {content: "\e729";}
.icon-video:before {content: "\e72a";}
.icon-video-camera:before {content: "\e72b";}
.icon-devices:before {content: "\e72c";}
.icon-tv:before {content: "\e72d";}
.icon-support:before {content: "\e72e";}
.icon-admin:before {content: "\e72f";}
.icon-map:before {content: "\e730";}
.icon-map-pins:before {content: "\e731";}
.icon-pin:before {content: "\e732";}
.icon-earth:before {content: "\e733";}
.icon-localization:before {content: "\e734";}
.icon-trash-can:before {content: "\e735";}
.icon-calendar-plus:before {content: "\e736";}
.icon-calendar:before {content: "\e737";}
.icon-calendar-time:before {content: "\e738";}
.icon-info:before {content: "\e739";}
.icon-comment:before {content: "\e73a";}
.icon-blogging:before {content: "\e73b";}
.icon-tag:before {content: "\e740";}
.icon-smart-game:before {content: "\e741";}
.icon-smart-wallet:before {content: "\e742";}
.icon-bug:before {content: "\e743";}
.icon-code-window:before {content: "\e744";}
.icon-feature:before {content: "\e745";}
.icon-code-file:before {content: "\e746";}
.icon-code:before {content: "\e747";}
.icon-html:before {content: "\e748";}
.icon-css:before {content: "\e749";}
.icon-js:before {content: "\e74a";}
.icon-idea:before {content: "\e74b";}
.icon-search:before {content: "\e74e";}
.icon-mouse:before {content: "\e74f";}
.icon-lock:before {content: "\e750";}
.icon-gear-line:before {content: "\e751";}
.icon-gamepad:before {content: "\e752";}
.icon-analytics:before {content: "\e753";}
.icon-pro-mark:before {content: "\e754";}
.icon-break:before {content: "\e755";}
.icon-upload-cloud:before {content: "\e756";}
.icon-up:before {content: "\e757";}
.icon-down:before {content: "\e758";}
.icon-upload:before {content: "\e759";}
.icon-download:before {content: "\e760";}
.icon-up-arrow:before {content: "\e761";}
.icon-disk:before {content: "\e762";}
.icon-right-quote:before {content: "\e763";}
.icon-left-quote:before {content: "\e764";}
.icon-shopping-bag:before {content: "\e765";}
.icon-new:before {content: "\e766";}
.icon-sell:before {content: "\e767";}
.icon-buy:before {content: "\e768";}
.icon-big-up-arrow:before {content: "\e769";}
.icon-check:before {content: "\e76a";}
.icon-close:before {content: "\e76b";}
.icon-circle-next:before {content: "\e780";}
.icon-circle-cog:before {content: "\e781";}
.icon-circle-key:before {content: "\e782";}
.icon-circle-minus:before {content: "\e783";}
.icon-circle-right:before {content: "\e784";}
.icon-circle-mark:before {content: "\e785";}
.icon-circle-info:before {content: "\e786";}
.icon-circle-plus:before {content: "\e787";}
.icon-circle-problem:before {content: "\e788";}
.icon-instagram:before {content: "\e789";}
.icon-playstore:before {content: "\e78a";}
.icon-youtube:before {content: "\e78b";}
.icon-github:before {content: "\e78c";}
.icon-pinterest:before {content: "\e78d";}
.icon-facebook:before {content: "\e78e";}
.icon-Twitter:before {content: "\e78f";}
.icon-opera:before {content: "\e790";}
.icon-ie10:before {content: "\e791";}
.icon-android:before {content: "\e792";}
.icon-apple:before {content: "\e793";}
.icon-chrome:before {content: "\e794";}
.icon-safari:before {content: "\e795";}
.icon-edge:before {content: "\e796";}
.icon-firefox:before {content: "\e797";}
.icon-windows8:before {content: "\e798";}
.icon-tistory-mark:before {content: "\e799";}
